:root {
    --primary: rgb(109, 196, 242);
    --secondary: rgb(240, 248, 255);
    --tertiary: rgb(77, 167, 216);
}

body {
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/* PAGE BANNER */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
}

#Logo {
    font-family: 'Lucida Handwriting', Helvetica, sans-serif;
    margin: 0;
    font-size: 40px;
    color: black;
}

#Logo a{
    color: black;
}

a {
    text-decoration: none;
}

/* LANDING PAGE */
.home-greeting {
    align-self: center;
    margin: 0 150px;
    justify-self: center;
    box-sizing: border-box;
    width: 280px;
}

.home-greeting h3, .home-greeting h3 > a {
    text-align: center;
    font-size: 26px;
}

.home-greeting p, .home-greeting a {
    color: black;
    font-size: 20px;
}

.home-greeting a {
    color: var(--primary)
}

.home-greeting ul>li {
    font-size: 20px;
}

.home-greeting ul {
    padding-left: 20px;
}

/* ////////// */
/* 404 page */
/* ////////// */

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.not-found p, .not-found a {
  color: black;
}

#code-404 {
  font-size: 60px;
  color: var(--primary)
}


/*///////////////////*/
/* GAME SCREEN */
/*///////////////////*/

.game-screen {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.game-screen p{
    text-align: center;
    margin-bottom: 0;
}



.game-question {
    margin: 0 auto;
    width: 400px;
}

.game-question h2 {
    text-align: center;
    color: var(--primary);
}

.submission {
    display: flex;
    justify-content: center;
    padding: 2px;
    
}

.submission input, .submission button {
    border: 2px var(--primary) solid;
}

.submission button {
    margin-left: -2px;
    background: var(--primary);
    color:white
}

.submission button:active {
    background: var(--tertiary)
}

.submission input {
    outline: none;
    background-color: rgba(255, 235, 205, 0);
}

.game-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* message for user: text color controlled dynamically via jsx in Question component */
/* also centers the timer, the score, and the next question test*/
#message-for-user, #timer, .score {
    text-align: center;
}

#timer {
    margin-bottom: 0;
}

.next-question:hover {
    cursor: pointer;
    color: var(--primary)
}

.next-question {
    align-self: center;
    text-align: center;
    
    /* width:250px; */
    /* margin:0 400px; */
}

/* ///////////// */
/* SIGNUP/LOGIN */
/* ///////////// */

.auth{
  margin-top: 4rem;
  border: 3px var(--primary) solid;
  border-radius: 44px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 4rem 200px;
  padding: 1rem;
  gap: 10px;
  box-sizing: border-box;
  width:280px;
  justify-self: center;
}

@media (min-width: 600px) {
    .auth{
        width:500px
    }
}

/* centering the button inside the form */
.auth div {
  align-self: center;
}

 .auth h2, .auth a, .auth p {
  text-align: center;
}

.auth button {
    width: 90px;
    padding: 5px 0;
    border-width: 3px;
    border-radius: 4px;
    border-color: var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bolder;
    border-style: double;
}
.auth button:hover {
    background-color: var(--tertiary);
    cursor: pointer;
}

.auth button:disabled {
    background-color: rgba(109, 195, 242, 0.459);
    cursor: not-allowed;
}

.improper-auth {
    color:crimson;
    font-size: 12px;
    font-weight: bold;
}


/* ///////////// */
/* LEADERBOARDS */
/* ///////////// */

#leaderboard {
  justify-self: center;
  box-sizing: border-box;
  width: 280px
}

@media (min-width: 600px) {
    #leaderboard {
        width:500px
    }
}

#leaderboard h2{
  text-align: center;
}

#leaderboard p{
    text-align: center;
}

/* Targets link directly inside the p tag in the event the user is not logged in */
#leaderboard p > a {
    text-decoration: none;
    color:var(--tertiary)
}

#leaderboard table {
    text-align: center;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
    
}

th, td {
  padding: 0rem;
  border:none;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
  vertical-align:middle;
  
}

th {
  background-color:var(--primary);
  padding: 2px;
}

td{
  height:20px;
  font-size: .75rem;
  background-color: rgba(111, 157, 167, 0.296);
}

.rank-col {
    width: 4rem;
}
.score-col {
    width: 4rem;
}
.player-col {
    width: 8rem;
}

@media (min-width: 600px) {
    .rank-col, .score-col {
        width:8rem
    }
}

.current-user td {
    color: var(--tertiary);
    font-weight: bold;
}

/* /////////////////// */
/* USER'S PROFILE PAGE */
/* /////////////////// */

#user-profile {
    box-sizing: border-box;
    width: 280px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile h2 {
    color: var(--primary);
}

#user-info {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.user-detail {
    width: 240px;
    text-align: center;
}

.user-detail b, .user-detail p {
    font-size: 16px;
    margin: 0;
}

.user-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.user-buttons button {
    width: 90px;
    padding: 5px 0;
    border: none;
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bolder;
    border-style: double;
}

.user-buttons button:hover {
    background-color: var(--tertiary);
    cursor: pointer;
}